.postPopup{
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  position: fixed;
  display: none;
  top: 0;
  background: rgba(0, 0, 0, 0.20);
  padding: 50px;
}
.contenedorPost{
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  /* padding: 25px; */
}
.cerrarPost {
    position: absolute;
    top: -25px;
    right: -25px;
    padding: 10px 15px;
    background: red;
    border-radius: 50px;
    color: white;
}
 .contenidoPost{
  float: right;
  position: relative;
  width: 100%;
}
